@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
}

.wrap{
    max-width: 1200px;
    margin: 50px auto;
}

.header{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 50px;
    font-family: "Roboto",serif;
    .title-group{
        display: flex;
        align-items: center;
        h1{
            font-size: 30px;
            font-weight: 700;
            margin-right: 50px;
            text-align: center;
        }
    }
    .total-price-group{
        display: flex;
        align-items: center;
        .total{
            margin-right: 30px;
        }
        .total-price{
            font-size: 20px;
            font-weight: 500;
            position: relative;
            &::before{
                content: "$";
                position: absolute;
                top: 0;
                font-size: 8px;
                left: -10px;
            }
        }
    }
}

@media(max-width:756px){
    .wrap{
        margin: 10px auto;
    }
    .header{
        flex-direction: column;
        padding-bottom: 20px;
        .title-group{
            margin-bottom: 20px;
            flex-direction: column;
            h1{
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
    }
}

.container{
    max-width: 100%;
    font-family: "Roboto",serif;
    margin-top: 20px;
    .shopcart-item{
        display: flex;
        
        .price{
            &::before{
                content: "$";
                position: absolute;
                top: 0;
                font-size: 8px;
                left: -10px;
            }
        }
    }
}